{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <div class="container mt-5 pt-5">
        {% if category|length %}
            <h4>Showing pages filtered with the category "{{ category }}"</h4>
        {% endif %}

            <div class="blog-container d-flex flex-column">
                    {% for post in blogposts %}
                        <div class="d-flex flex-row p-2">
                            {% if post.thumbnail %}
                                {% image post.thumbnail fill-100x100 class="rounded" %}
                            {% endif %}
                            <div class="blog-title pl-2 category--blog-title heading--font"> 
                                <a href="{% pageurl post %}">{{ post.title }}</a><br>
                                
                                {% if post.author %}
                                    <p class="d-inline heading--font-medium">{{ post.author }}</p> | {{ post.date }}
                                {% endif %} 
                            </div>
                        </div>
                        {% empty %}
                            No pages found with that category.
                    {% endfor %}
            </div>
    </div>

{% endblock %}