{% extends "base.html" %}

{% load staticfiles wagtailcore_tags wagtailimages_tags longclawbasket_tags category_tags %}
{% block body_class %} template-productpage {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-6">

                {%if page.images.count is not 0%}
                <div id="myCarousel" class="carousel slide prod-carousel" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          {% for det in page.images.all %}
                            {% if forloop.first %}
                                <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
                            {% else %}
                                <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
                            {% endif %}
    
                          {% endfor %}
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          {% for det in page.images.all %}
                          {% image det.image fill-450x350 as prod_image %}
                          {% if forloop.first %}
                            <div class="item active">
                          {% else %}
                            <div class="item">
                          {% endif %}
                            <img src="{{prod_image.url}}" alt="{{prod_image.alt}}" style="width:100%;">
                            <div class="carousel-caption">
                              <h3>{{prod_image.caption}}</h3>
                            </div>
                          </div>
                          {% endfor %}
                      
                        </div>
                    
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                {%else%}
                    <img class="not-available" src="{% static 'images/not_available.png' %}" style="width: 450px; height: 350px; background-color: #ECEFF1;"/>
          
                {%endif%}
                    <a class="btn btn-default" href="{{ page.get_parent.url }}"><i class="fa fa-chevron-left"></i> Back to Products</a>
                
        </div>
        <div class="col-lg-6">

             <div class="row">
                {% if page.tags.all.count %}
                <div class="tags">
                    <h3>Tags</h3>
                    {% for tag in page.tags.all %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
       
        </div>
        <div class="col-md-5">
            <div class="row">
                <h1>{{ page.title }}</h1>
                <table class="table table-condensed">
                    <thead>
                    {% if page.get_brand %}
                        <tr>
                            <th1>Brand: 
                                <a href="{{ page.get_brand }}" class="btn btn-sm">{{ page.get_brand.title }}</a>
                            </th1>
                                    
                            <th1></th1>
                        </tr>
                    {% endif %}
                    </thead>
                    <tbody>
                        {% with page.variants.first as variant %}
                        <tr>
                            <td><p>Price: {{variant.price}}</p>
                                <div class="dropdown">
                                        <div class="resize">
                                            Qty:
                                                <div class="input-group">
                                                    
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" id="minusBtn" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </span>
                                                    <input type="text" name="quant[1]" id="qtyInput" id="quantityValue" class="form-control input-number" value="1" min="1" max="{{variant.stock}}">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" id="plusBtn" data-type="plus" data-field="quant[1]">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                        </div>
                                        <!-- <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                          --
                                          <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                          {% for i in page.get_qty %}
                                                <li><a href="#" class="item">{{ forloop.counter }}</a></li>
                                          {%endfor%}
                                        </ul>
                                      </div> -->
                            </td>
                            <td>
                                {% if variant.stock > 0 %}
                                    {% add_to_basket_btn variant.id btn_text="Add To Basket" btn_class="btn btn-success" %}
                                {% else %}
                                    <span class="label label-danger">Sold out</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endwith %}
                    </tbody>

                </table>
            </div>
            <div class="row">
                <div class="col-md-12">
                <br />
                {{ page.description|richtext  }}
                </div>
            </div>
        </div>
        </div>
</div>

{% endblock %}
