.resize{
  width: 150px;
  }

.prod-carousel {
    width: 85%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 12px;
    margin-right: 10vh;
}

.title{

    margin-bottom: 50px;
    z-index: 2;
}

.prod-carouselimgcont {
    height: 30vh;
}

.prod-carouselimg {
    height: 30vh;
    border-radius: 10px;
}

.prod-carouseltext {
    background-color: rgba(66, 65, 67, 0.5);
    border-radius: 10px;
}

.not-available {
    margin-top: 30px;
    margin-bottom: 12px;
}