{% load static wagtailuserbar longclawcore_tags category_tags%}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        {% block title %} {% if self.seo_title %} {{ self.seo_title }} {% else %} {{ self.title }} {% endif %} {% endblock %} {% block title_suffix %}{% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> {# Global stylesheets #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/e_commerce.css' %}"> {% block extra_css %} {# Override this in templates to add extra stylesheets #} {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    <nav id="topNav" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <div class="title">
                    <a class="navbar-brand" href="/">Title</a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Categories
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <!--Display to dropdown list of categories-->
                        {% get_categories as categories %}
                        {% for category in categories %}
                            <li><a href="{{ category.url }}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!--Search Bar-->
            <form action="/search/" method="get" class="search" _lpchecked="1" role="search">
                <input name="query" type="text" placeholder="Search your product" aria-label="Search your site" autocomplete="on">
            </form>
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'longclaw_basket' %}"><span id="item-count"> </span><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
    {% block content %} {% endblock %} {# Global javascript #}
    </div>
    
    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    
    {% longclaw_vendors_bundle %}
    {% longclaw_client_bundle %} 
    
    <script type="text/javascript" src="{% static 'js/e_commerce.js' %}"></script>

    {% block extra_js %} {# Override this in templates to add extra javascript #} {% endblock %}
</body>

</html>
